{% extends 'base.html' %}

{% block title %}
Email de notificação para tutor

{% endblock %}

{% block content %}
<div class="header">
    <h1 class="display-4">Estamos esperando seu Pet!</h1>
</div>
<div class="content">
    <p>Olá {{ usuario.nome }}!</p>
    <p>Traga seu pet {{ pet.nome }} para uma avaliação de rotina. <br>
        {{ mensagem }} <br>
        Lembre de trazer seu documento de identificação para dar entrada com seu pet.</p>
</div>
<div class="footer">
    <p>&copy; 2024 <em>Pet Shop Manager</em>. Todos os direitos reservados.</p>
</div>
{% endblock %}
